*{
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
    list-style: none;
    text-decoration: none;
   
}

a:link{text-decoration: none;}
/*fontes*/
@font-face{
    src: url("../assets/fonts/PirataOne-Regular.ttf");
    font-family: "Pirata-One";
}
@font-face{
    src: url("../assets/fonts/Roboto-Light.ttf");
    font-family: "Roboto";
}
@font-face{
    src: url("../assets/fonts/nasalization-rg.ttf");
    font-family: 'Nasalization';
}
@font-face{
    src: url("../assets/fonts/NyataFTR-Regular.otf");
    font-family: 'nyata';
}
@font-face{
    src: url("../assets/fonts/TerminalDosis-Light.ttf");
    font-family: 'terminal';
}

header{
    z-index: 500;
    position: absolute;
    top: 0px;
    left: 0;
    padding: 0 100px;
    background-color: #000;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid #fff; 
}
.logo{
    float: left;
}
nav{float: right;}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;

}
nav li{list-style: none; font-family: 'Pirata-One'; font-size: 1.35em;}
nav ul li a {height: 60px; line-height: 50px;
padding: 0 40px; color: #fff;
text-decoration: none; display: block;}
nav ul li a:hover{
    color: #fff;
    background-color: #B15D10;
    text-decoration: none;
}

/*Logo efeito transition */
.logo img.logo-transition{
    display: none;
}
.logo:hover img.logo-default{
    display: none;
}
.logo:hover img.logo-transition{
    display: inherit;
}

/*Estilização main*/
.main{
    height: 740px;
    width: 100%;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;   
    position: relative;   
}

/*Texto central*/
.txt-main{color: #fff;
display: flex; justify-content: center; padding-top: 230px;
align-items: center; font-family: 'Nasalization'; font-size: 6em;
font-style: italic; letter-spacing: 5px; text-shadow: 1px 1px 4px #B15D10;
}

.btn-start{background-color: #B15D10;
width: 250px; text-align: center; margin-top: 20px;
padding: 15px; cursor: pointer;
border-bottom: 3px solid #97571C; color: #fff;
font-family: 'nyata'; font-size: 1.25em; letter-spacing: 3px;
border-radius: 3px;}
.btn-start a {text-decoration: none; color: #fff;}

.btn-start a:hover{color: #ffbf76; }
/*efeito sombreamento*/
.main > .sub-main{
    position: relative;
    z-index: 105;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;

}
/* estilização footer */
.rodape{
    background-color: #121212;
    display: flex;
    flex-direction: row;
    color: #fff;
    min-height: 70px;
    align-items: center;
}
.copy{font-family: 'terminal'; font-size: 1.25em;}
.contato{font-family: 'Roboto'; font-size: 1.25em;}
.version{font-family: 'Roboto'; font-size: 1.25em;}

/* menu mobile */
.menu-toggle{
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 30px;
    display: none;
    cursor: pointer;

}
/*Estilo page Treinos*/
.treinos{
    min-height: 743px;
    background-position: center;
    background-size: cover !important;
    background-repeat: no-repeat;
}
.progresso{margin-top: 60px;}

.progresso h2 {color: #ffa500; font-size: 5em; text-align: center;
    font-family: 'Pirata-One'; padding: 30px 0; text-shadow: 1px 1px 4px #121212;}
.progress-bar{display: flex;}

progress {
    display:block;
    -webkit-appearance: none;
    height: 17px;
    width: 400px;
   
}


progress::-webkit-progress-bar {
    background: #333;
    border-radius: 50px;
    padding: 2px;
}
progress::-moz-progress-bar {  
    background: black;
    border-radius: 50px;
    padding: 2px;
}

progress::-webkit-progress-value {
    border-radius: 50px;
    background:orange;
    color: #fff;
}

